:root{
  --node-color: gold;
}

body {
  margin: 0;
}

#stage {
  width: calc(100% - 20px);
  height: calc(100% - 20px);
  border-width: 10px;
  border-style: solid;
  border-color: teal;
  position: absolute;
}

.node-container {
  transition: all 0.7s 0.3s, transform 1s;
}

.node{
  transition: inherit;
}

.node_background{
  transition: inherit;
  fill: var(--node-color);
}

.dev_outline{
  stroke: pink;
  stroke-width: 5px;
}

.title{
  user-select: none;
}

.blanket{
  fill: rgba(255, 255, 255, 0);
  cursor: move;
}
